	@media all and (min-width: 1000px) {
	body {
		margin: 0;
		padding: 0;
		background-size: cover;
		background-image: url("resources/stagebackground.jpg");
		background-repeat: no-repeat;
	}

	header {
		padding-top: 1%;
		text-align: center;
		font-size: 100px;
		width: 100%;
	}

	.headertitle {
		color: #228DFF;
  	font-family: Iceland;
  	text-decoration: none;
	}

	header a {
  	-webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  	-moz-animation: neon2 1.5s ease-in-out infinite alternate;
  	animation: neon2 1.5s ease-in-out infinite alternate;
	}
	
	footer {
		clear: both;
		height: 5vh;
		text-align: center;
		color: #228DFF;
		font-family: Iceland;
	}

	#drop-nav {
		float: left;
		height: 75vh;
		width: 13%;
		margin-top: 0;
		margin-left: 2px;
		list-style-type: none;
		padding: 0;
		position: fixed;
	}

	.main_text {
		padding-left: 2%;
		color: #228DFF;
		font-family: Iceland;
		font-size: 25px;
		margin-right: 15%;
		text-align: justify;
	}

	.main_header {
		padding-left: 2%;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #228DFF;
		font-family: Iceland;
		font-size: 40px;
	}

	.main_text_header {
		padding-left: 2%;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #228DFF;
		font-family: Iceland;
		font-size: 35px;
	}

	.main {
		background-color: #13252D;
		float: right;
		margin-right: 5%;
		width: 80%;
		border: 2px solid;
    border-radius: 20px;
	}

	h5 {
		margin-bottom: 5px;
		padding-left: 2%;
		color: #228DFF;
  	font-family: Iceland;
  	font-size: 30px;
	}

	#slideshowdiv{
		display:inline-block;
		display: table;
    	margin: 0 auto;
	}

	#slide{
		height: 400px;
		max-width: 100%;
	}

	#leftbutton{
		float: left;
	}

	#playbutton{
		display: block;
		margin-left: auto;
    margin-right: auto;
	}

	#rightbutton{
		float: right;
	}

	.uitklap_item {
		display: block;
		padding-left: 5px; 
		padding-right: 5px;
		background: #FFF;
	}

	#drop-nav li{
		margin-bottom: 5%;
		padding: 5%;
		vertical-align:top;
		background-color: #13252D;
		border: 2px solid;
    border-radius: 20px;
    text-align: center;
    outline: none;
	}

	iframe {
		width: 100%;
		text-align: center;
	}

	#uitklaplijst li {
		background-color: #2a5163;
		margin-left: 10vw;
		margin-bottom: 0;
		padding: 10px;
	}

	#uitklaplijst li a {
		font-size: 30px;
	}

	#drop-nav a {
		text-decoration: none;
		color: #228DFF;
  	font-family: Iceland;
  	font-size: 2vw;
	}

	li ul {
  	display: none;
	}

  li:hover ul {
  	display: block;
  	position: absolute;
  }
  
  li:hover li {
		float: none;
	}

	.evenement_link {
		text-decoration: none;
		color: #FFFFFF;
	}

	.evenement_img {
		margin-left: 2%;
	}
}

@media all and (max-width: 1000px) {
	body {
		margin: 0;
		padding: 0;
		background: url("resources/stagebackground.jpg") no-repeat center center fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

	header {
		height: 20vh;
		padding-top: 1%;
		text-align: center;
		font-size: 100px;
		width: 100%;
	}

	.headertitle {
		color: #228DFF;
  	font-family: Iceland;
  	text-decoration: none;
	}

	header a {
  	-webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  	-moz-animation: neon2 1.5s ease-in-out infinite alternate;
  	animation: neon2 1.5s ease-in-out infinite alternate;
	}

	footer {
		clear: both;
		height: 5vh;
		text-align: center;
		color: #228DFF;
		font-family: Iceland;
	}

	.main_text {
		padding-left: 2%;
		color: #228DFF;
		font-family: Iceland;
		font-size: 25px;
		margin-right: 15%;
		text-align: justify;
	}

	.main_header {
		padding-left: 2%;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #228DFF;
		font-family: Iceland;
		font-size: 40px;
	}

	.main_text_header {
		padding-left: 2%;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #228DFF;
		font-family: Iceland;
		font-size: 35px;
	}

	.main {
		background-color: #13252D;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		border: 2px solid;
    border-radius: 20px;
	}

	h5 {
		margin-bottom: 5px;
		padding-left: 2%;
		color: #228DFF;
  	font-family: Iceland;
  	font-size: 30px;
	}

	#slideshowdiv{
		display:inline-block;
		display: table;
    margin: 0 auto;
	}

	#slide{
		height: 400px;
		max-width: 100%;
	}

	#leftbutton{
		float: left;
	}

	#playbutton{
		display: block;
		margin-left: auto;
    margin-right: auto;
	}

	#rightbutton{
		float: right;
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
	}
  
  ul li {
  	display: inline-block;
  	padding : 5px;
  	position: relative;
  	border:1px solid #000;
		vertical-align:top;
		background-color: #13252D;
		border: 2px solid;
    border-radius: 20px;
    text-align: center;
    outline: none;
  }
  
  li ul {
  	display: none;
	}

  ul li a {
  	font-size: 30px;
  	text-decoration: none;
		color: #228DFF;
  	font-family: Iceland;
  	white-space: nowrap;
  }

	.uitklap_item {
		display: block;
		padding-left: 5px; 
		padding-right: 5px;
		background: #2a5163;
	}

	#uitklaplijst {
		margin-top: 5px;
	}
  
  li:hover ul {
  	display: block; position: absolute;
  }
  
  li:hover li {
		float: none;
	}
  
  #drop-nav {
  	text-align: center;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 5px;
  }

	.evenement_link {
		text-decoration: none;
		color: #FFFFFF;
	}

	.evenement_img {
		margin-left: 2%;
		width: 80%;
	}
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(resources/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF,
     0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF,
     0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF,
     0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF,
     0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF,
     0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF,
     0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}



