
	#slideshowdiv{
		width: 600px;
		display:inline-block;
		display: table;
    	margin: 0 auto;
	}

	#slide{
		height: 400px;
		max-width: 100%;
	}

	#leftbutton{
		float: left;
	}

	#playbutton{
		display: block;
		margin-left: auto;
    margin-right: auto;
	}

	#rightbutton{
		float: right;
	}